<div  class = "container1">
  
  <div class = "header">
    <nav-bar> </nav-bar>
  </div>

  <div>
    <mat-card>
      <mat-list>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle> Cancel </mat-button-toggle>
          <mat-button-toggle> Save </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list>
    </mat-card> <br>
    <div> <my-box> </my-box> </div> <br> <br>
    <my-table class = "my-table"> </my-table> <br>
    <div class = "navTab">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="Indents"> </mat-tab>
          <mat-tab label="documents"> </mat-tab>
          <mat-tab label="statistics"> </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <br> <br>
    <layout> </layout><br><br>
    <!-- <router-outlet></router-outlet> -->
    <basic-info></basic-info><br><br>
    <!-- <mat-card>sdkgfasjdgfaskjdg</mat-card> -->
  </div>
  
  <div class = "sidebar">

  </div>


  <div class = "footer">

  </div>

</div>