
.header > h1 {
    text-align: center;
}

.container1 {
    background-color: rgb(229, 246, 247);
}

.my-table {
  width: 75%;
}


// #sidebar    {
//     position: absolute;
//     left: -200px;
//     width: 200px;
//     height: 400px;
//     background: red;    
// }

// #page-wrap  {
//     position: relative;
//     width: 600px;
//     background: #eee;
//     height: 400px;
//     margin: 0 auto;
// }
